/* Stilovi za stranicu "Podaci Korisnika" */

/* Opšti stilovi stranice */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Stilovi za container 3 */
.conteiner3 {
  border: 1px solid gold;
  padding: 10px;
}

/* Stilovi za paragraf pod className 'tekst3' /
.tekst3 {
  font-size: 20px;
}
/ Stilovi za container 1 */
.conteiner1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Stilovi za tekst i input kontejnere */
.text-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Dodatni margin između svakog text-input kontejnera */
}

/* Stilovi za paragraf pod className 'text1' i 'text2' */
.text1,
.text2 {
  font-size: 18px;
}

/* Stilovi za input polje pod className 'input1' */
.input1 {
  border: 1px solid gold;
  padding: 5px 10px;
  margin-top: 5px;
}

/* Stilovi za input polje pod className 'input2' */
.input2 {
  border: 1px solid gold;
  padding: 5px 10px;
  margin-top: 5px;
}

/* Stilovi za link pod className 'zavrsite' */
.zavrsite {
  display: inline-block;
  padding: 10px 20px;
  background-color: gold;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
}

.zavrsite:hover {
  background-color: #f0d896;
  transition: background-color 0.3s ease;
}