.navbar-target {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  margin-right: 30px;
  color: white;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}

.logo {
  width: 100px;
  height: auto;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar-target {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .navbar-link {
    margin-right: 0;
    margin-bottom: 10px;
    display: block;
  }
}